@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Poppins;    
}

header {
    background: #1b4080;
    height: 100px;
    padding-top: 25px;
}

header h1 {
    font-size: 32px;
    font-weight: 500;
    color:white;
    text-transform: uppercase;
}

.form,
.stats {
    padding: 20px;
}

.statistics {
    background: rgb(125, 166, 241);
}

.statistics,
.pieChart {
    border: rgb(125, 166, 241);
    border-style: solid;
}
.text-red {
    color: red;
    font-size: 26px;
}